aiogram==3.22.0
SQLAlchemy==2.0.43
asyncpg==0.30.0
alembic==1.16.4
redis==6.4.0
python-dotenv==1.1.1
pydantic==2.11.7
pydantic-settings==2.10.1
APScheduler==3.11.0
aiofiles==24.1.0
orjson==3.11.2
greenlet==3.2.4
loguru==0.7.3
